<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Owner Form</title>
</head>
<body>
<h1>Owner Form</h1>
<form th:action="@{/owners/save}" th:object="${owner}" method="post">
    <label>ID:</label>
    <input type="text" th:field="*{id}" disabled="disabled"/>
    <br/>
    <label>First Name:</label>
    <input type="text" th:field="*{firstName}"/>
    <br/>
    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}"/>
    <br/>
    <label>Phone:</label>
    <input type="text" th:field="*{phone}"/>
    <br/>
    <label>Email:</label>
    <input type="text" th:field="*{email}"/>
    <br/>
    <button type="submit">Save</button>
</form>
<a href="/owners">Back to list</a>
</body>
</html>